@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .back-shadow {
    @apply border border-neutral-200 dark:border-tomato-dark-secondary shadow-md shadow-neutral-300/50 dark:shadow-black/30
  }
}

.unfollow_button:hover span {
  display: none;
}

.unfollow_button:hover::before {
  content: "Unfollow";
}

[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  color: #999999;
}